::placeholder {
  color:#4B4343;
  opacity: 1;
}
textarea:focus,
input:focus {
  outline: none;
}

.single-form-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 17px;
}
.basic-info-car-image {
  max-width: 100%;
  margin: 0 auto;
}
.basic-info-car-image svg {
  width: 100%;
}
.link {
  text-decoration: none;
}
/* adaptive */
.css-1okebmr-indicatorSeparator{
  display: none;
}
.row div:nth-child(1) div:nth-child(2) div svg{
  height: 27px !important;
  color: black;
  width: 27px !important;
}
.row div:nth-child(2) div:nth-child(2) div svg{
  height: 27px !important;
  color: black;
  width: 27px !important;
}
/* media  */
@media screen and (max-width: 762px)  {
  .big-blocks {
      display: none !important;
    }
  .row > * {
      width: 100%;
    }
  .row input {
    width: 100%;
    margin: 20px 0 !important;
  }
  .greeting div:nth-child(2) {
    display: none !important;
    }
  .logo-text {
      display: none;
  }
}
@media screen and (max-width: 480px)  {
  .line {
    height: 1px !important;
  }
  .progres__item span {
    width: 20px !important;
    height: 20px !important;
  }
}
